:root {
/* Fonts */
    --font-body: Roboto, Helvetica, sans-serif;
    --font-headline: "Varela Round", sans-serif;


/* Color Scheme */
    --primary-color: #FF6F61; /* Muted Coral - Accent */
    --secondary-color: #DAA520; /* Golden Yellow - Background */
    --tertiary-color: #FF4500; /* Burnt Orange - Hover Effect */
    --light-color: #F5E8D8; /* Warm Beige - Text/Accent */
    --dark-color: #1C1C1C; /* Soft Black - Background/Accent */


/* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
    --headline: 3rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--dark-grey);
    background-color: var(--dark-color);
}

.headline {
    font-family: var(--font-headline);
    font-size: var(--headline);
    color: var(--light-color);
    flex-grow: 1; /* Allows headline to take up remaining space */
    text-align: center; /* Aligns text to the right */
    text-shadow: 2.5px 2.5px 5px var(--dark-color);
}

.header-container {
    display: flex; /* Enables horizontal layout */
    align-items: center; /* Ensures vertical alignment */
    justify-content: flex-start; /* Keeps items grouped together */
    gap: 20px; /* Adds space between the logo and headline */
}

.logo {
    width: 150px; /* Adjust size */
    height: auto;
    margin-left: 40px; /* Adds space between logo and headline */
    border: 2px solid var(--dark-color);
    border-radius: 8px;
    
}


#main-header {
    width: 100%;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

#main-header:hover {
    background-color: var(--secondary-color);
    border-bottom: 3px solid #333;
}


#footer {
    width: 100%;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: var(--light-color); /* Ensures readability against the background */
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
}

#footer:hover {
    background-color: var(--secondary-color);
    border-bottom: 3px solid #333;
}